<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="">SPDieta</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/index">Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cliente">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dieta">Dietas</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
      </form>
    </div>
  </nav>
</header>
<br>
<main class="row d-flex justify-content-center">
  <router-outlet></router-outlet>
</main>